.MeetBrianna {
  padding-left: 1px
}

p {
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;

}

ul {
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;

}

ol {
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;

}
