h1 {
  font-family: 'Cormorant SC', serif;
  text-align: center;
  border: solid 1px;
  font-size: 56px
}

p {
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;

}

.titlebackground{
  background-color: #ff5252;

}

ul {
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;

}

ol {
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;

}
